<%= form_with model: tweet, local: true do |f|%>

  <%= render 'devise/shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :title, "アーティスト名" %>
      <span class="indispensable">必須</span></br>
    <%= f.text_field :artist, class: :form__text, placeholder:"最大40文字以内で入力して下さい" %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "商品の詳細" %>
        <span class="indispensable">必須</span></br>
    <%= f.text_area :text, class: :form__text, placeholder:"最大140文字以内で入力して下さい" %>
  </div>

  <div class="field">
    <%= f.label :image, "商品の画像" %>
        <span class="indispensable">必須</span></br>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>