<div class="tweet_eight">
  <div class="tweet__body"> 
    <%= link_to image_tag(tweet.image, class: :tweet__img ), tweet_path(tweet) %>
        <div class="balloonoya">
          <div class="box_comment", id="comment">
            <%= link_to "#", class: :form__btn__comment do %>
              <i class="fa-regular fa-comment"></i>
                <span class="balloon">
                  <%= tweet.text %>
                </span>
            <% end %>
          </div>
        </div>  
      <%= link_to "#{tweet.user.nickname}さんの WANT LIST", "#", class: :tweet__user__eight %> 
    <div class="tweettitle_eight">
      <%= image_tag "wantlist.jpeg", class: :tweet__logo__eight %> <%= link_to "#{tweet.artist}", tweet_path(tweet), class: :tweet__artist__eight %>
    </div>  

    <div class="buy_action">
    <% if tweet.item != nil %>
      <% if tweet.item.order != nil %>
        <div class='sold-out'>
          <span>Success ful !!</span>
        </div>
      <% end %> 
    <% end %> 
    
      <% if tweet.item != nil %>
        <% if tweet.item.order == nil %>
          <% if user_signed_in? && current_user.id == tweet.user.id %>
            <%= link_to tweet_items_path(tweet.id), class: :form__btn__buyeight do %>
              <i class="fa-solid fa-cart-shopping"></i>
            <% end %>
          <% elsif %>
            <%= link_to tweet_items_path(tweet.id), class: :form__btn__editeight do %>
              <i class="fa-solid fa-wrench"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %> 
    </div>
  </div>
</div>

