<div class="tweet">
  <%# <%= link_to "by #{tweet.user.nickname}", "#" class: :tweet__user %> 
  <div class="tweet__body">
    <%= image_tag "wantlist.jpeg", class: :tweet__logo %> <%= link_to "#{tweet.artist}", tweets_path(tweet), class: :tweet__artist%>
    <p class="tweet__text">
      <%= tweet.text %>
    </p>

  <%# <% if item.order != nil %>
    <%# <div class='sold-out'> %>
      <%# <span>Sold Out!!</span> %>
    <%# </div> %>
  <%# <% end %> 

    <%= link_to image_tag(tweet.image.variant(resize: '160x160'), class: :tweet__img ), tweets_path(tweet) %>
    <%= form_with model: @tweet, local: true do |f|%>
      <div class="buy_action">
        <%= f.submit "Buy!", class: :form__btn__left  %>
      </div>
    <% end %>
  </div>
</div>

