<div class="tweet">
  <div class="tweet__body"> 
    <%= link_to image_tag(tweet.image, class: :tweet__img ), tweet_path(tweet) %>
    <%= link_to "#{tweet.user.nickname}さんのWANT LIST", "#", class: :tweet__user %> 
      <div class="tweettitle">
        <%= image_tag "wantlist.jpeg", class: :tweet__logo %> <%= link_to "#{tweet.artist}", tweet_path(tweet), class: :tweet__artist%>
      </div>  
      <p class="tweet__text">
        <%= tweet.text %>
      </p>

  <%# <% if item.order != nil %>
    <%# <div class='sold-out'> %>
      <%# <span>Sold Out!!</span> %>
    <%# </div> %>
  <%# <% end %> 

    <div class="buy_action">
      <% unless tweet.item == nil %>
        <% if user_signed_in? && current_user.id == tweet.user.id %>
          <%= link_to tweet_items_path(tweet.id), class: :form__btn__buy do %>
            <i class="fa-regular fa-handshake"></i>&emsp;Buy
          <% end %>
        <% elsif %>
          <%= link_to tweet_items_path(tweet.id), class: :form__btn__edit do %>
            <i class="fa-solid fa-wrench"></i>&emsp;Edit
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

