<div class="tweet">

  <%= link_to "#{tweet.user.nickname}さんが探している商品", "#", class: :tweet__user %> 
  
  <div class="tweet__body"> 
    <%= image_tag "wantlist.jpeg", class: :tweet__logo %> <%= link_to "#{tweet.artist}", tweet_path(tweet), class: :tweet__artist%>
    <%= link_to image_tag(tweet.image.variant(resize: '160x160'), class: :tweet__img ), tweet_path(tweet) %>
    <p class="tweet__text">
      <%= tweet.text %>
    </p>

  <%# <% if item.order != nil %>
    <%# <div class='sold-out'> %>
      <%# <span>Sold Out!!</span> %>
    <%# </div> %>
  <%# <% end %> 

    <div class="buy_action">
      <% if tweet.item != nil %>
        <%= link_to "Buy!", tweet_items_path(tweet.id), class: :form__btn__left %>
      <% end %> 
    </div>
  </div>
</div>

