<main class="main">
  <div class="show_inner">

    <div class="tweet__show">
      <%= link_to "#{@tweet.user.nickname}  さんが探している商品", "#", class: :show__user %>
      <p class="tweet__hedding">
        <%= @tweet.artist %>
      </p>
      <%# <% if current_user == @tweet.user%>
        <%# <div class="tweet__manage"> %>
          <%# <%= link_to "編集する", edit_prototype_path(@prototype), class: :tweet__btn %>
          <%# <%= link_to "削除する", prototype_path(@prototype), method: :delete, class: :tweet__btn %>
        <%# </div> %>
      <%# <% end %>  
      <div class="tweet__image">
        <%= image_tag @tweet.image.variant(resize: '300x300') %>
      </div>
      <div class="tweet__body">
        <div class="tweet__detail">
          <p class="tweet__title">商品の詳細</p>
          <p class="detail__text">
            <%= @tweet.text %>
          </p>
        </div>
      </div>
    </div>

    <div class="tweet__comments">
      <% if user_signed_in? %>
        <%= form_with model: [@tweet, @comment], local: true do |f|%>
          <div class="comment_field">
            <p class="rules">⬅︎⬅︎⬅︎ こちらの商品を持っている方は、是非コメントしてみましょう。</br>
            交渉が成立したら、下の”出品"ボタンから商品を出品しましょう。</p></br>
            
            <%= f.label :comment, "コメント"%><br />
            <%= f.text_area :comment, id:"comment_content", :size=>"60", placeholder:"1回のコメントは、最大100文字以内で入力して下さい" %>
          </div>
          <div class="comment_submit">
            <%= f.submit "コメント送信", class: :commentnav__btn %>
            <%= link_to "商品を出品", new_tweet_items_path(@tweet.id), class: :sellnav__btn %>
          </div>
        <% end %>
      <% end %>
      <ul class="comments_lists">
        <% @comments.reverse.each do |comment| %>
          <li class="comments_list">
              <%= comment.created_at.strftime('%Y/%m/%d')  %>
              <%= link_to "（#{comment.user.nickname}）", "#", class: :comment_user %>
              <%= comment.comment %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</main>
