<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="comment.js"></script>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header"> 
      <%= link_to "Wants", "/", class: :logo_title %>
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
          </div>
            <% if user_signed_in? %> 
              <div class="nav__right">
                <%= link_to destroy_user_session_path, class: :nav__logout, method: :delete do %>
                  <i class="fa-solid fa-user-slash"></i>logout
                <% end %>
                <%= link_to "#{current_user.nickname}さん", "#", class: :nav__btn__user %>
              </div>
            <% else %>
              <div class="nav__right">
                <%= link_to "/users/sign_in", class: :nav__btn do %>
                  <i class="fa-solid fa-user"></i>login
                <% end %>
                <%= link_to "/users/sign_up", class: :nav__btn do %>
                  <i class="fa-regular fa-user"></i>sign up
                <% end %>
              </div> 
            <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © WANTS All rights reserved.</p>
    </footer>
  </body>
</html>
